/deps
/tts/*
/.cloud/*

# database
*.db
*.log
.HA_VERSION
.homekit.state
.uuid
.storage

# nodered
*.json
*.backup
!flows.json
/.vscode
/integrations/.vscode/*
/node-red/node_modules/*
/custom_components/*

# secrets
secrets.yaml
harmony_bedroom.conf
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant_v2.log.1
home-assistant_v2.log.default

# zigbee2mqtt
/zigbee2mqtt/*
