/deps
/tts/*
/.cloud/*

# database
*.db
*.log
.HA_VERSION
.homekit.state
.uuid
.storage

# nodered
*.json
*.backup
!flows.json
/.vscode
/integrations/.vscode/*

# secrets
secrets.yaml
harmony_bedroom.conf
home-assistant_v2.db-wal
home-assistant_v2.db-shm
